/**
 * Palettes
 */

.palette-blue {
  // Palette.
  $palette: (
    accent: _swatch(light-blue),
    accent-shadow: rgba(_swatch(light-blue), 0.2),
  );
  @include setPalette($palette);
}

.palette-violet {
  // Palette.
  $palette: (
    accent: _swatch(light-purple),
    accent-shadow: rgba(_swatch(light-purple), 0.2),
  );
  @include setPalette($palette);
}

.palette-orange {
  // Palette.
  $palette: (
    accent: _swatch(red-orange),
    accent-shadow: rgba(_swatch(red-orange), 0.2),
  );
  @include setPalette($palette);
}

.palette-red {
  // Palette.
  $palette: (
    accent: _swatch(red),
    accent-shadow: rgba(_swatch(red), 0.2),
  );
  @include setPalette($palette);
}

.palette-purple {
  // Palette.
  $palette: (
    accent: _swatch(blue-purple),
    accent-shadow: rgba(_swatch(blue-purple), 0.2),
  );
  @include setPalette($palette);
}

.palette-haze {
  // Palette.
  $palette: (
    accent: _swatch(blue-haze),
    accent-shadow: rgba(_swatch(blue-haze), 0.2),
  );
  @include setPalette($palette);
}
