/**
 * Palettes
 */

.palette-blue {
  // Palette.
  $palette: (
    primary: _swatch(dark-grey),
    secondary: darken(_swatch(dark-grey), 15%),
    meta: lighten(_swatch(dark-grey), 25%),
    border: lighten(_swatch(dark-grey), 55%),
    bg: lighten(_swatch(dark-grey), 60%),
    accent: _swatch(light-blue),
    accent-shadow: rgba(_swatch(light-blue), 0.2),
    text-white: _swatch(white),
  );
  @include setPalette($palette);
}

.palette-violet {
  // Palette.
  $palette: (
    primary: _swatch(dark-grey),
    secondary: darken(_swatch(dark-grey), 15%),
    meta: lighten(_swatch(dark-grey), 25%),
    border: lighten(_swatch(dark-grey), 55%),
    bg: lighten(_swatch(dark-grey), 60%),
    accent: _swatch(light-purple),
    accent-shadow: rgba(_swatch(light-purple), 0.2),
    text-white: _swatch(white),
  );
  @include setPalette($palette);
}

.palette-orange {
  // Palette.
  $palette: (
    primary: _swatch(dark-grey),
    secondary: darken(_swatch(dark-grey), 15%),
    meta: lighten(_swatch(dark-grey), 25%),
    border: lighten(_swatch(dark-grey), 55%),
    bg: lighten(_swatch(dark-grey), 60%),
    accent: _swatch(red-orange),
    accent-shadow: rgba(_swatch(red-orange), 0.2),
    text-white: _swatch(white),
  );
  @include setPalette($palette);
}
